* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app__posts {
  padding: 20px;

  display: flex;
  justify-content: center;
}

.app__postsLeft {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
  max-width: 50px;
}
.app__signup {
  display: flex !important;
  flex-direction: column !important;
}

.app__upload {
  text-align: center;
  padding: 20px;
}
